/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap'); */

body {
     margin: 0;
     -webkit-font-smoothing: antialiased;
     -moz-osx-smoothing: grayscale;
}

/* custom style for search bar */
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input:first-child {
     padding-left: 50px !important;
     color: #fff;
}


/* media queries */
@media (max-width: 600px) {
     .logo {
          display: none;
     }
}


/* media queries */
@media (max-width: 545px) {
     .makeStyles-amountDetails-5 {
          display: block !important;
     }

     .m1{
          margin-bottom: 15px;
     }
}